<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">
<!-- Home page content -->
<h1> <%= title %> </h1>
<div id="home-container">
    <section id="feed-post">
        <h4>Posts</h4>
        <% if(locals.user) { %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" id="content" cols="30" rows="3" placeholder="Add your thoughts here" required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% for(let post of posts){ %>
                    
                    <%- include('_post', {post: post}); -%>  <!-- Include the post partial and also passing post object as parameter to the partial -->  

                <% } %>
            </ul>
        </div>
    </section>
    <!-- Section to display the user's friends(or all the users) -->
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u._id %>"> <%= u.name %></a>
            </p>
        <% } %>
    </section>

    <!-- Include the chat box partial -->
    <%- include('_chat_box') -%> 

</div>

<script type="text/javascript" src="/js/home_posts_comments.js"></script>
<script type="text/javascript" src="/js/home_posts.js"></script>
<script type="text/javascript" src="js/toggle_likes.js"></script>
<!-- js code to run over and toggle-like for the already present posts and comments on the page -->
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<!-- script to setup socket.io library at front-end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/js/chat_engine.js"></script>
<!-- if user exists then run the Chat Box -->
<% if(locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>');
    </script>
<% } %>