<!-- User profile page content -->
<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<h1>The Page title is <%= title %> </h1>
<div>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>

    <% if(user.id == profile_user.id){ %>
        <h4>Update/Edit your Profile details</h4>
        <form action="/users/update/<%= profile_user.id %>" method="POST">
            <input type="text" name="name" value="<%= profile_user.name %>" placeholder="Your Name" required>
            <input type="email" name="email" value="<%= profile_user.email %>" placeholder="Your E-mail" required>
            <input type="submit" value="Update">
        </form>
    <% } %>
</div>